extends layout

block content
  h1= title
  p Welcome to #{title}
  button Start
  input(type="text", style="width: 100%")
  span#final_span.final
  hr
  span#interim_span.interim
  h1= 'Hint'
  ul
    each person in people
      li= person.text
