doctype html
html
  head
    meta(charset="utf-8")
    title Hint - Hints for your Conversation
    link(href="./stylesheets/bootstrap.min.css", rel="stylesheet", type="text/css")
    script(src="./js/jquery-1.10.2.min.js")
    script(src='/socket.io/socket.io.js')
    script.
      var socket = io('http://' + location.host);
    script(src="./js/site.js")
    script(src="/js/speech.js")
    script(src="./js/mustache.min.js")
    link(rel="stylesheet", href="./stylesheets/styles.css")
  body
    script#template(type="x-tmpl-mustache")
      <div class="panel panel-default" class="hint">
      <a href="#" class="thumbnail pull-right" >
      <img src="{{ image }}" >

      </a>
      <div class="panel-body">
      <div class="hint_title">{{ title }}</div>
      <div class="hint_body">{{ body }}</div>
      </div>
      </div>
    script#template_no_image(type="x-tmpl-mustache")
      <div class="panel panel-default" class="hint">
      <div class="panel-body no-image">
      <div class="hint_title">{{ title }}</div>
      <div class="hint_body">{{ body }}</div>
      </div>
    .container
      .row2
        h5
          a(href="#")
            span(style="font-weight:400;") hint
            | :
            span(color="#555", style="margin-left:3px;") hints for your conversation
        span.pull-right
          #bars
            .bar
            .bar
            .bar
            .bar
            .bar
            .bar
            .bar
            .bar
            .bar
            .bar
        .clearfix
      #hints.row
      footer.footer
        .container
          .pull-right(style="margin-top:-2px;")
            a(href="#", style="margin-right:12px;") get the code
            a(href="#") about hint
    // /container
