doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="//code.jquery.com/jquery-1.11.3.min.js")
    script(src='/socket.io/socket.io.js')
    script(src="/js/speech.js")
  body
    block content
